.prodQtyBtn {
    width: 200px;
    
}
.cartBtn {
    position: fixed;
    right: 10px;
    top: 10px;
}
.prodCard {
    max-width: 350px;
    min-width: 250px;
}
.editCard {
    max-width: 200px;
    min-width: 150px;
}
#name {
    display: flex;
    margin: 20px;
}
#footer {
    max-width: initial;
}
/* .container {
    width: 85%;
} */
.fileInput {
    position:relative;
    z-index:2;
    width:100%;
    height:calc(1.5em + .75rem + 2px);
    margin:0;
    /* opacity:0; */
}
/* .editCardTitle {
    font-size: 1em;
} */

.editFormImg {
    width: 150px;
    height: auto;
    border: 1.5px solid grey;
    border-radius: 4px;
}